#Pixi
{
    background-image: url("images/enemy/pixi.png");
}

#Skeleton
{
    background-image: url("images/enemy/skeleton.png");
}

#Spider
{
    background-image: url("images/enemy/spider.png");
}

#Succubus
{
    background-image: url("images/enemy/succubus.png");
}

#Test
{
    background-image: url("images/enemy/test.png");
}
