html, body
{
    height:100%;
    width:100%;
    margin:0;
    padding:0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.explain_box_line
{
    width: auto;
    border: 1px solid black;
}

.explain_box_title
{
    margin-left: 30px;

    color: black;
    font-size: 20px;
    font-weight: bold;
}

.explain_box_paragraph
{
    margin-left: 10px;
    padding-top: 5px;
    font-size: 14px;
}

#explain_box
{
    position: absolute;
    width: 250px;
    height: 100px;
    background-color: #e2c678;

    border: 2px solid black;
}



.RAGE
{
    background-image: url("images/chance_types/rage.png");
}

.LUCK
{
    background-image: url("images/chance_types/luck.png");
}

.effect_number, .enemy_chance_number
{
    position: absolute;
    font-size: 22px;
}

#dmg_counter
{
    position: absolute;
    /*top: 30px;*/
    font-weight: bold;
    font-size: 70px;

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    font-family: Lato;
}

#end_turn_string
{
    position: absolute;
    top: 4px;
    font-weight: bold;
    font-size: 30px;
    color: black;

    font-family: Lato;
}

#end_turn
{
    position: absolute;
    top: 490px;
    width: 130px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
}

#ability_point
{
    position: absolute;
    top: 2px;
    z-index: 2;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Lato;
}

#ability_point_bg
{
    padding: 0px;
    border: 1px solid black;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-color: gold;
    top: 487px;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.top_bar
{
    width: 960px;
    height: 20px;
    background-color: chartreuse;
    position: absolute;
    top: 0px;
    left: 200px;
}

.selected_skill
{
    position: absolute;
    border-collapse: collapse;
    border-radius:50%;
    z-index: 3;
    opacity: 0.7;
}

.selected_skill div
{
    position: absolute;
    width: 46px;
    height: 46px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-sizing: border-box;
    pointer-events: none;
    /*opacity: 0.7;*/
}

.skill_right_part
{
    position: absolute;
    top: 0px;
    left: 139px;
    width: 57px;
    height: 57px;

    box-sizing: border-box;
    border: solid #ffd26d;
    border-width: 1px 1px 1px 1px;

    background-repeat: no-repeat;
}

.skill_right_part_top
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 55px;
    height: 21px;


    font-size: 24px;
    text-align: right;

    box-sizing: border-box;
    border: solid #ffd26d;
    border-width: 0px 0px 1px 0px;
}

.skill_right_part_bottom
{
    position: absolute;
    top: 21px;
    left: 0px;
    width: 55px;
    height: 34px;
}

.skill_left_part_top
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 139px;
    height: 21px;

    box-sizing: border-box;
    border: solid #ffd26d;
    border-width: 1px 1px 0px 1px;

    background-color: #a6a9a8;
}

.skill_left_part_bottom
 {
     position: absolute;
     top: 21px;
     left: 0px;
     width: 139px;
     height: 36px;

     box-sizing: border-box;
     border: solid #ffd26d;
     border-width: 1px 1px 1px 1px;
 }

.skill_left_part_bottom_left
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 69px;
    height: 34px;

    box-sizing: border-box;
    border: solid #ffd26d;
    border-width: 0px 1px 0px 0px;
}

.skill_left_part_bottom_left_image
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 34px;
    height: 34px;
}

.skill_left_part_bottom_left_number
{
    position: absolute;
    top: 0px;
    left: 35px;
    width: 34px;
    height: 34px;

    font-size: 26px;
    text-align: right;
}

.skill_left_part_bottom_right
{
    position: absolute;
    top: 0px;
    left: 69px;
    width: 69px;
    height: 34px;
}

.skill_pattern_table
{
    position: absolute;
    border-collapse: collapse;
    top: 1px;
}

.skill_pattern_table td
{
    height: 15px;
    width:  15px;
    border: 1px solid black;
}

.skill_name_string
{
    position: absolute;
    left: 2px;
    color: black;
    float: left;

    color: black;
    font-size: 17px;
    font-weight: bold;
}

.profile
{
    position: absolute;
    width: 200px;
    height: 538px;
    background-color: bisque;
    border: 1px solid black;
    box-sizing: border-box;
}

#player_profile
{
    top: 0px;
    left: 0px;
}

#enemy_profile
{
    top: 0px;
    left: 758px;
}

.hp
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 198px;
    height: 20px;
    background-color: red;
    border: solid black;
    border-width: 1px 0px 1px 1px;
    box-sizing: border-box;
    z-index: 1;
}

.hp_background
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 198px;
    height: 20px;
    background-color: firebrick;
    border: 1px solid black;
    box-sizing: border-box;
}

.hp_loosing_background
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 198px;
    height: 20px;
    background-color: pink;
    border: solid black;
    border-width: 1px 0px 1px 1px;
    box-sizing: border-box;
    z-index: 0;
}

.mp
{
    position: absolute;
    top: 20px;
    left: 0px;
    width: 198px;
    height: 20px;
    background-color: blue;
    border: 1px solid black;
    box-sizing: border-box;
}

.name
{
    position: absolute;
    top: 40px;
    left: 0px;
    width: 198px;
    height: 28px;
    background-color: gray;
    border: 1px solid black;
    box-sizing: border-box;
}


.name_string
{
    position: absolute;
    top: 5px;
}

.hp_string
{
    position: absolute;
    top: 0px;
    z-index: 2;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.profile_picture
{
    position: absolute;
    top: 68px;
    left: 0px;
    width: 198px;
    height: 114px;
    background-color: gray;
    border: 1px solid black;
    box-sizing: border-box;
    background-image: url("images/self.png");
}

#cut
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 198px;
    height: 114px;
    background-image: url("images/osszeg_new.png");
}

#self
{
    background-image: url("images/self.png");
}

#enemy_skeleton
{
    background-image: url("images/skeleton.png");
}

.active_skill
{
    position: absolute;
    width: 198px;
    height: 59px;
    background-color: gray;
    border: 1px solid black;
    box-sizing: border-box;
}

.shadow
{
    background-color: black;
    opacity: 0;
}

#skill_1
{
    top: 182px;
    left: 0px;
}

#skill_2
{
    top: 241px;
    left: 0px;
}

#skill_3
{
    top: 300px;
    left: 0px;
}

#skill_4
{
    top: 359px;
    left: 0px;
}

#skill_5
{
    top: 418px;
    left: 0px;
}

#skill_6
{
    top: 477px;
    left: 0px;
}

#enemy_skill_1
{
    top: 182px;
    left: 0px;
}

#enemy_skill_2
{
    top: 241px;
    left: 0px;
}

#enemy_skill_3
{
    top: 300px;
    left: 0px;
}

#enemy_skill_4
{
    top: 359px;
    left: 0px;
}

#enemy_skill_5
{
    top: 418px;
    left: 0px;
}

#enemy_skill_6
{
    top: 477px;
    left: 0px;
}

.activated
{
    border: 2px solid yellow;
}

.enemy_chance_happen
{
    position: absolute;
    top: 8px;
    left: 145px;
    width: 43px;
    height: 41px;
    background-repeat: no-repeat;
    background-position: center;
}

.success
{
    background-image: url("images/success.png");
}

.failure
{
    background-image: url("images/failure.png");
}

#game_background
{
    position: absolute;
    width: 960px;
    height: 540px;
    background-color: lightblue;
    border: 1px solid black;
    box-sizing: border-box;
}

#skill_bar
{
    position: absolute;
    top: 450px;
    left: 0px;
    width: 960px;
    height: 90px;
    background-color: aquamarine;
}

.skill
{
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: blueviolet;
    border: 1px solid black;
    box-sizing: border-box;
}

#battle_table
{
    position: absolute;
    top: 5px;
    background-color: dimgrey;
    padding: 0px;
    border: 10px solid black;
    /*height: 300px;
    width: 300px;*/
}

#battle_table div
{
    padding: 0px;
    border: 1px solid black;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-color: burlywood;
    border-radius: 50%;
}

.selected_skill div.attack,
#battle_table div.attack
{
    background-color: crimson;
    background-image: url("images/attack.png");
}

.selected_skill div.mana,
#battle_table div.mana
{
    background-color: aqua;
    background-image: url("images/heal.png");
}

.selected_skill div.defense,
#battle_table div.defense
{
    background-color: bisque;
    background-image: url("images/defense.png");
}

.selected_skill div.move,
#battle_table div.move
{
    background-color: forestgreen;
    background-image: url("images/move.png");
}

.selected_skill div.nul,
#battle_table div.nul
{
    border: none;
}