.bag_field
{
    position: absolute;
    width: 53px;
    height: 53px;
    background-color: #b9b9b9;
    box-sizing: border-box;
    border: 1px solid black;
}

.item
{
    position: absolute;
    width: 34px;
    height: 34px;
}

.sword
{
    background-image: url("images/items/sword.png");

}

.necklace
{
    background-image: url("images/items/necklace.png");

}

.item_hover
{
    z-index: 1;
    border: 2px solid yellow;
}