#bag
{
    position: absolute;
    left: 625px;
    top: 70px;
}

#items
{
    position: absolute;
    left: 300px;
    top: 79px;
}

.inventory_field
{
    position: absolute;
    width: 53px;
    height: 53px;
    box-sizing: border-box;
    border: 1px solid black;
}

.inventory_field.grey
{
    background-color: #b9b9b9;
}

.inventory_field.white
{
    background-color: white;
}

.inventory_field.green
{
    background-color: green;
}

.item
{
    position: absolute;
    width: 51px;
    height: 51px;
}

.item.sword_lvl_1
{
    background-image: url("images/items/lvl_1/sword.png");
}

.item.necklace_lvl_1
{
    background-image: url("images/items/lvl_1/necklace.png");
}

.item.dagger
{
    background-image: url("images/items/starting_items/dagger.png");
}

.item.helm_lvl_1
{
    background-image: url("images/items/lvl_1/helm.png");
}

.item.shield
{
    background-image: url("images/items/starting_items/shield.png");
}

.item.armor
{
    background-image: url("images/items/starting_items/armor.png");
}

.item.armor_lvl_1
{
    background-image: url("images/items/lvl_1/armor.png");
}

.item.boots_lvl_1
{
    background-image: url("images/items/lvl_1/boots.png");
}

.item.shield_lvl_1
{
    background-image: url("images/items/lvl_1/shield.png");
}

.item.helm_light_lvl_3
{
    background-image: url("images/items/lvl_3/helmet/light/helmet.png");
}

.item.helm_heavy_lvl_3
{
    background-image: url("images/items/lvl_3/helmet/heavy/helmet.png");
}

.item.helm_light_lvl_4
{
    background-image: url("images/items/lvl_4/helmet/light/helmet.png");
}

.item.helm_heavy_lvl_4
{
    background-image: url("images/items/lvl_4/helmet/heavy/helmet.png");
}

.item.armor_light_lvl_3
{
    background-image: url("images/items/lvl_3/armor/light/armor.png");
}

.item.armor_heavy_lvl_3
{
    background-image: url("images/items/lvl_3/armor/heavy/armor.png");
}

.item.armor_light_lvl_4
{
    background-image: url("images/items/lvl_4/armor/light/armor.png");
}

.item.armor_heavy_lvl_4
{
    background-image: url("images/items/lvl_4/armor/heavy/armor.png");
}

.item.shoes_light_lvl_3
{
    background-image: url("images/items/lvl_3/shoes/light/shoes.png");
}

.item.shoes_heavy_lvl_3
{
    background-image: url("images/items/lvl_3/shoes/heavy/shoes.png");
}

.item.shoes_light_lvl_4
{
    background-image: url("images/items/lvl_4/shoes/light/shoes.png");
}

.item.shoes_heavy_lvl_4
{
    background-image: url("images/items/lvl_4/shoes/heavy/shoes.png");
}

.item.axe_lvl_3
{
    background-image: url("images/items/lvl_3/weapon/axe/axe.png");
}

.item.axe_lvl_4
{
    background-image: url("images/items/lvl_4/weapon/axe/axe.png");
}

.item.sword_lvl_3
{
    background-image: url("images/items/lvl_3/weapon/sword/sword.png");
}

.item.sword_lvl_4
{
    background-image: url("images/items/lvl_4/weapon/sword/sword.png");
}

.item.shield_lvl_3
{
    background-image: url("images/items/lvl_3/weapon/shield/shield.png");
}

.item.shield_lvl_4
{
    background-image: url("images/items/lvl_4/weapon/shield/shield.png");
}

.item.mace_lvl_3
{
    background-image: url("images/items/lvl_3/weapon/mace/mace.png");
}

.item.mace_lvl_4
{
    background-image: url("images/items/lvl_4/weapon/mace/mace.png");
}

.item.necklace_offensive_lvl_4
{
    background-image: url("images/items/lvl_4/amulet/offensive/necklace.png");
}

.item.necklace_defensive_lvl_4
{
    background-image: url("images/items/lvl_4/amulet/defensive/necklace.png");
}

.item.necklace_magic_lvl_4
{
    background-image: url("images/items/lvl_4/amulet/magic/necklace.png");
}

.item.necklace_move_lvl_4
{
    background-image: url("images/items/lvl_4/amulet/move/necklace.png");
}

.item_hover
{
    z-index: 1;
    border: 2px solid yellow;
}

.inventory_skill
{
    position: absolute;
    left: 20px;
    top: 77px;
}

.inventory_skill_position_1
{
    top: 0px;
    left: 0px;
}

.inventory_skill_position_2
{
    top: 59px;
    left: 0px;
}

.inventory_skill_position_3
{
    top: 118px;
    left: 0px;
}

.inventory_skill_position_4
{
    top: 177px;
    left: 0px;
}

.inventory_skill_position_5
{
    top: 236px;
    left: 0px;
}

.inventory_skill_position_6
{
    top: 295px;
    left: 0px;
}

#inventory_character
{
    position: absolute;
    width: 233px;
    height: 326px;
    top: 100px;
    left: 370px;
    background-image: url("images/inventory_gui/character_big.png");
}

#destroy_item_field
{
    background-color: seashell;
    background-image: url("images/inventory_gui/destroy_item.png");
    background-repeat: no-repeat;
    background-position: center;
}

.line
{
    position: absolute;
    width: 83px;
    height: 1px;
    left: 218px;
    background-color: red;
}

#item_0
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("images/inventory_gui/headBG.png");
    background-repeat: no-repeat;
    background-position: center;
}

#item_1
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("images/inventory_gui/necklaceBG.png");
    background-repeat: no-repeat;
    background-position: center;
}

#item_2
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("images/inventory_gui/torsoBG.png");
    background-repeat: no-repeat;
    background-position: center;
}

#item_3
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("images/inventory_gui/rightHandBG.png");
    background-repeat: no-repeat;
    background-position: center;
}

#item_4
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("images/inventory_gui/leftHandBG.png");
    background-repeat: no-repeat;
    background-position: center;
}

#item_5
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("images/inventory_gui/bootsBG.png");
    background-repeat: no-repeat;
    background-position: center;
}
